* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* containers */

.container-viewport {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.header {
  height: 60px;
  width: calc(100vw - 170px);
}

.footer {
  height: 80px;
  width: 100vw;
}

.container {
  width: 100%;
}

.sidebar {
  width: 170px;
  height: calc(100vh - 80px);
}

.container-right {
  width: calc(100vw - 170px);
  height: calc(100vh - 80px);
}

.container-content {
  width: calc(100vw - 170px);
  height: calc(100vh - 140px);
  padding-left: 20px;
}

.row {
  display: flex;
}

.col16 {
  width: calc(100% / 6 - 5px);
}

/* utility */
/* colors */

.bg-blue {
  background-color: deepskyblue;
}

.bg-orange {
  background-color: orange;
}

.bg-red {
  background-color: crimson;
}

.bg-grey {
  background-color: grey;
}

.bg-black-tr {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-black {
  background-color: black;
}

.bg-light-black {
  background-color: rgb(45, 45, 51);
}

.grey {
  color: grey;
}

.white {
  color: white;
}

/* flex */

.align-items-center {
  display: flex;
  align-items: center;
}

.display-column {
  flex-direction: column;
}

/* hoover */

.container-content ul li:hover,
.playlist ul li:hover,
.icons ul li:hover,
.disappear ul li:hover,
.sidebar span:hover {
  color: white;
  cursor: pointer;
}

.hoover-white:hover {
  color: white;
  cursor: pointer;
}

.header .btn:hover {
  padding: 10px 60px;
  cursor: pointer;
}

.gap5 {
  gap: 5px;
}

/* text */

.text-align-right {
  text-align: right;
}

.fs3rem {
  font-size: 3rem;
}

/* header */

.btn {
  border: white 2px solid;
  border-radius: 20px;
  padding: 5px 50px;
  color: white;
  background-color: transparent;
  margin: 10px 5px 20px 0px;
}

/* sidebar */

.logo {
  height: 40px;
  margin: 10px 0 30px 0;
}

.menu {
  display: flex;
}

.menu ul li {
  height: 20px;
  list-style: none;
}

.playlist span {
  margin-left: 8px;
}

.playlist {
  margin-top: 30px;
}

.playlist h3 {
  margin-bottom: 10px;
}

.icons {
  width: 20px;
  margin-right: 7px;
}

.playlist ul li {
  list-style: none;
  margin-top: 10px;
  font-size: 0.8rem;
}


.user {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
}

.user i {
  margin-right: 8px;
  margin-bottom: 10px;
}

.user hr {
  width: 80%;
  margin-left: 10px;
  margin-bottom: 5px;
  border: solid grey 1px;
}

/* content */



.container-content span {
  font-size: 0.8rem;
}

.container-content ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.container-content ul li {
  margin: 10px;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.container-content img {
  width: 100%;
}

.album1,
.album2,
.album3 {
  margin: 15px 0 15px 0;
}

.container-content span {
  color: grey;
}

.album1 .col16 {
  text-align: center;
  font-size: 0.8rem;
}

.container-content ul li {
  font-size: 0.7rem;
}

.container-content {
  overflow-y: scroll;
}

.album3 img {
  border-radius: 50%;
}

.card {
  position: relative;
  width: 100%;
}

.hover-play {}

.position-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card .play {
  font-size: 50px;
  color: white;
  padding: 32%;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: none; */
  z-index: 10;
}

.card .play:hover {
  display: block;
  cursor: pointer;
}